<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Top Categories</h1>

        {% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}
       
       <h1>Top 5 Pages by views</h1>
       
       
       {% if pages %}
            <ul>
                {% for page in pages %}     
                <li><a href="{{ page.url }}">{{ page.title }}</a> - {{ page.views }} views</li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no pages present.</strong>
       {% endif %}

    </body>
</html>