 <div data-role="collapsible" class="menuCollapse clpsAttributes" data-collapsed="true" data-theme="b">
    <h3>
        Attribute</h3>                
        <div>
            <ul data-role="listview" data-filter="false" class="ulAttribute" data-mini="true">
	                <li>
	            		<input type="checkbox" name="attributeTweets" id="attributeTweets" checked="checked"/>
	    				<label for="attributeTweets">Total Tweets</label>                	
	            	</li>
	            	<li>
	            		<input type="checkbox" name="attributeGrowth" id="attributeGrowth" checked="checked"/>
	    				<label for="attributeGrowth">Tweet Growth</label>                	
	            	</li>
	            	<li>
	            		<input type="checkbox" name="attributeRetweets" id="attributeRetweets" checked="checked"/>
	    				<label for="attributeRetweets">Avg. Retweets</label>                	
	            	</li>
	            	<li>
	            		<input type="checkbox" name="attributeFollowers" id="attributeFollowers" checked="checked"/>
	    				<label for="attributeFollowers">Followers</label>                	
	            	</li>
            </ul>
    	</div>        	
	</div>
