<div data-role="collapsible" class="menuCollapse clpsCategories" data-collapsed="false" data-theme="b">
<h3>
    Categories</h3>                
    <div>
    	<input type="checkbox" name="selectAllCategories" id="selectAllCategories" class="selectAllCategories" />
	    <label for="selectAllCategories">Select all</label>
	    <hr />
	    <div class"clear"></div>
        <ul data-role="listview" data-filter="true" class="ulVenues" data-mini="true">            	
        	{% if categories %}
                {% for cat in categories %}
                <li>
                	<table class="tblCatli">
                		<tr>
                			<td class="tdCatChck">
                				<input type="checkbox" class="chckCat" name="cat{{cat}}" id="cat{{cat}}"/>
    							<label for="cat{{cat}}">{{cat}}</label>
                			</td>
                			<td class="tdTop5">
                				<a href="/hotornot/top5?cat={{cat}}">
                				View Top 5</a>
                			</td>
                		</tr>
                	</table>             	
            	</li> 	                
                {% endfor %}
            {% else %}
                <strong>No categories to be displayed.</strong>
            {% endif %}
        </ul>
	</div>        	
</div>
