


<div data-role="collapsible" class="menuCollapse clpsAttributes" data-collapsed="false" data-theme="b">
    <h3>
        Attributes</h3>
        
        <div data-role="collapsible" class="menuCollapse clpsChartType" data-collapsed="false" data-theme="b">
	    <h3>
	        Chart type</h3>                
	        <div data-role="fieldcontain" class="divChartType" align="center">
				<fieldset data-role="controlgroup" data-type="horizontal" class="center chartTypes" data-mini="true">
					<input type="radio" name="radio-choice-1" id="radio-choice-1" value="choice-1" checked="checked" />
					<label for="radio-choice-1">
						Line Chart</label>
					<input type="radio" name="radio-choice-1" id="radio-choice-2" value="choice-2" />
					<label for="radio-choice-2">
						Bar Chart</label>
					<input type="radio" name="radio-choice-1" id="radio-choice-3" value="choice-3" />
					<label for="radio-choice-3">
						Scatter Plot</label>
					<input type="radio" name="radio-choice-1" id="radio-choice-4" value="choice-4" />
					<label for="radio-choice-4">
						Pie Chart</label>
				</fieldset>
			</div>
		</div>
		
		<div class="clear"></div>
		
		
		<div data-role="collapsible" class="menuCollapse clpsStatType" data-collapsed="false" data-theme="b">
	    <h3>
	        Statistics Type</h3> 
			 <div data-role="fieldcontain" class="divStatType" align="center">
				<fieldset data-role="controlgroup" data-type="horizontal" class="center chartTypes" data-mini="true">
					<input type="radio" name="radio-choice-2" id="radio-choice-1" value="choice-1" checked="checked" />
					<label for="radio-choice-1">
						Total Tweets</label>
					<input type="radio" name="radio-choice-2" id="radio-choice-2" value="choice-2" />
					<label for="radio-choice-2">
						Tweet Growth</label>
					<input type="radio" name="radio-choice-2" id="radio-choice-3" value="choice-3" />
					<label for="radio-choice-3">
						Retweets</label>
					<input type="radio" name="radio-choice-2" id="radio-choice-4" value="choice-4" />
					<label for="radio-choice-4">
						Followers</label>
				</fieldset>
			</div>
		</div>
		
		<div class="clear"></div>
		
		
		<div data-role="collapsible" class="menuCollapse clpsTimePeriod" data-collapsed="false" data-theme="b">
	    <h3>
	        Time period</h3>
			 <div data-role="fieldcontain" class="timePeriod" align="center">
				<fieldset data-role="controlgroup" data-type="horizontal" class="center chartTypes" data-mini="true">
					<input type="radio" name="radio-choice-3" id="radio-choice-1" value="choice-1" checked="checked" />
					<label for="radio-choice-1">
						Day of the week</label>
					<input type="radio" name="radio-choice-3" id="radio-choice-2" value="choice-2" />
					<label for="radio-choice-2">
						Week</label>
					<input type="radio" name="radio-choice-3" id="radio-choice-3" value="choice-3" />
					<label for="radio-choice-3">
						Month</label>
					<input type="radio" name="radio-choice-3" id="radio-choice-4" value="choice-4" />
					<label for="radio-choice-4">
						Year</label>
				</fieldset>
			</div>
		</div>
</div>
	
