


<div data-role="collapsible" class="menuCollapse clpsAttributes" data-collapsed="false" data-theme="b">
    <h3>
        Attributes</h3>
        
        <div data-role="collapsible" class="menuCollapse clpsChartType" data-collapsed="false" data-theme="b">
	    <h3>
	        Chart type</h3>                
	        <div data-role="fieldcontain" class="divChartType" align="center">
				<fieldset data-role="controlgroup" data-type="horizontal" class="center chartTypes" data-mini="true">
					<input type="radio" name="chart-choice" id="chart-choice-Line" value="chart-choice-Line" checked="checked" />
					<label for="chart-choice-Line">
						Line Chart</label>
					<input type="radio" name="chart-choice" id="chart-choice-Column" value="chart-choice-Column" />
					<label for="chart-choice-Column">
						Column Chart</label>
				</fieldset>
			</div>
		</div>
		
		<div class="clear"></div>
		
		
		<div data-role="collapsible" class="menuCollapse clpsStatType" data-collapsed="false" data-theme="b">
	    <h3>
	        Statistics Type</h3> 
			 <div data-role="fieldcontain" class="divStatType" align="center">
				<fieldset data-role="controlgroup" data-type="horizontal" class="center chartTypes" data-mini="true">
					<input type="radio" name="statistics-choice" id="statistics-choice-Total-hits" value="statistics-choice-Total-hits" checked="checked" />
					<label for="statistics-choice-Total-hits">
						Total Tweets</label>
					<input type="radio" name="statistics-choice" id="statistics-choice-Time-frame" value="statistics-choice-Time-frame" />
					<label for="statistics-choice-Time-frame">
						Tweet Growth</label>
				</fieldset>
			</div>
		</div>
		
		<div class="clear"></div>
		
		<!--
		<div data-role="collapsible" class="menuCollapse clpsTimePeriod" data-collapsed="false" data-theme="b">
	    <h3>
	        Time period</h3>
			 <div data-role="fieldcontain" class="timePeriod" align="center">
				<fieldset data-role="controlgroup" data-type="horizontal" class="center chartTypes" data-mini="true">
					<input type="radio" name="radio-choice-3" id="radio-choice-1" value="choice-1" checked="checked" />
					<label for="radio-choice-1">
						Day of the week</label>
					<input type="radio" name="radio-choice-3" id="radio-choice-2" value="choice-2" />
					<label for="radio-choice-2">
						Week</label>
					<input type="radio" name="radio-choice-3" id="radio-choice-3" value="choice-3" />
					<label for="radio-choice-3">
						Month</label>
					<input type="radio" name="radio-choice-3" id="radio-choice-4" value="choice-4" />
					<label for="radio-choice-4">
						Year</label>
				</fieldset>
			</div>
		</div> -->
</div>
	
