
    <div data-role="fieldcontain" class="divChartType">
		<fieldset data-role="controlgroup" data-type="horizontal" class="center chartTypes" data-mini="true">
			<input type="radio" name="radio-choice-1" id="radio-choice-1" value="choice-1" checked="checked" />
			<label for="radio-choice-1">
				Line Chart</label>
			<input type="radio" name="radio-choice-1" id="radio-choice-2" value="choice-2" />
			<label for="radio-choice-2">
				Bar Chart</label>
			<input type="radio" name="radio-choice-1" id="radio-choice-3" value="choice-3" />
			<label for="radio-choice-3">
				Scatter Plot</label>
			<input type="radio" name="radio-choice-1" id="radio-choice-4" value="choice-4" />
			<label for="radio-choice-4">
				Geo Plot</label>
		</fieldset>
	</div>
    
