
<div data-role="collapsible" class="menuCollapse clpsPeriods" data-collapsed="true" data-theme="b">
<h3>
    Period</h3>                
    <div>
        <ul data-role="listview" data-filter="false" class="ulPeriod" data-mini="true">
                <li>
            		<input type="checkbox" name="periodDay" id="periodDay" checked="checked"/>
    				<label for="periodDay">Day</label>                	
            	</li>
            	<li>
            		<input type="checkbox" name="periodWeek" id="periodWeek" checked="checked"/>
    				<label for="periodWeek">Week</label>                	
            	</li>
            	<li>
            		<input type="checkbox" name="periodMonth" id="periodMonth" checked="checked"/>
    				<label for="periodMonth">Month</label>                	
            	</li>
            	<li>
            		<input type="checkbox" name="periodYear" id="periodYear" checked="checked"/>
    				<label for="periodYear">Year</label>                	
            	</li>
        </ul>
	</div>        	
</div>
