
    <div data-role="collapsible" class="menuCollapse clpsVenues" data-collapsed="false" data-theme="b">
            <h3>
                Venues</h3>                
                <div>
	                <ul data-role="listview" data-filter="true" class="ulVenues" data-mini="true">
	                	<li>
	                		<input type="checkbox" name="glaChck" id="glaChck" checked="checked"/>
		    				<label for="glaChck">University of Glasgow</label>                	
	                	</li>   	
	                	
	                	<li>
		                	<input type="checkbox" name="o2Chck" id="o2Chck" checked="checked"/>
			    			<label for="o2Chck">o2 Academy</label>
						</li>
	                	<li>
	                		<input type="checkbox" name="firhillChck" id="firhillChck" checked="checked"/>
			    			<label for="firhillChck">Firhill Stadium</label>                	
	                	</li>
	                </ul>
            	</div>        	
        	</div>
