{% extends 'home/base.html' %}

{% load static %}

{% block page_scripts %}
	
	<script src="{% static "js/google-charts.js" %}"></script>
	<script>
		var json = {{ json|safe }};
	</script>

{% endblock %}

{% block body_block %}

<div class="left-panel">
       <div id="divChart" class="divChart">
        	<div id="chart_div" class="divInnderChar">
        	</div> 
		</div>
		<div class="leftBottomMenu"> 
			<div class="leftBottomMenuInner"> 
				{% include "home/chartMenu.html" %}
			</div>
		</div>
   </div>
   <div class="right-panel">
       <div id="divVenueMenu" class="venuePanel">
			{% include "home/venueMenu.html" %}    	
   </div>
   
 </div> 
 {% endblock %}