    <div data-role="collapsible" class="menuCollapse clpsVenues" data-collapsed="false" data-theme="b">
    <h3>
        Venues</h3>                
        <div>
            <ul data-role="listview" data-filter="true" class="ulVenues" data-mini="true">            	
            	{% if venues %}
	                {% for venue in venues %}
	                <li>
	            		<input type="checkbox" class="chckVenue"  name="{{venue}}" id="{{venue}}" checked="checked"/>
	    				<label for="{{venue}}">{{venue}}</label>                	
	            	</li> 	                
	                {% endfor %}
	            {% else %}
	                <strong>No venues to be displayed.</strong>
	            {% endif %}
            </ul>
    	</div>        	
	</div>
