<div data-role="collapsible" class="menuCollapse clpsVenues" data-collapsed="false" data-theme="b">
<h3>
    Venues</h3>                
    <div>
        <ul data-role="listview" data-filter="true" class="ulVenues" data-mini="true">            	
        	{% if venues %}
                {% for venue in venues %}
                <li>
            		<input type="checkbox" class="chckVenue" name="vn{{venue.name}},{{venue.type}}" id="vn{{venue.name}},{{venue.type}}"/>
    				<label for="vn{{venue.name}},{{venue.type}}">{{venue.name}}</label>                	
            	</li> 	                
                {% endfor %}
            {% else %}
                <strong>No venues to be displayed.</strong>
            {% endif %}
        </ul>
	</div>        	
</div>
