{% extends 'home/base.html' %}

{% load static %}
{% block page_scripts %}

	<script type="text/javascript" 
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmN4-d5vpWUKKXAPxLxeUfaYgK5R05LAc&sensor=false">
    </script>
    <script src="{% static "js/venue_page.js" %}"></script>
    <script>
    	var venueLatitude = {{ venueObject.latitude }};
    	var venueLongitude = {{ venueObject.longitude }};    
    </script>
    <script src="{% static "js/google-maps.js" %}"></script>    
    
{% endblock %}
{% block body_block %}

<div class="left-panel">
	<div id="map-canvas" class="map-canvas">
	
	</div>
 </div>
 <div class="right-panel">
	<p>Venue information:</p>
	</br>
	<p>Name: {{venueObject.name}}</p>
	</br>
	<p>Type: {{venueObject.type}}</p>
	</br>
	<p>City: {{venueObject.city}}</p>
	</br>
	<p>Country: {{venueObject.country}}</p>
</div>	
 
{% endblock %}